.block {
    text-align: center;
    height: 400px;
    color: #006400;
    width: 85%;
    padding: 80px;
    height: 3000px;
    border: 1px solid white;
    margin: 15px;
    background-color:#F4F5FF;
    margin-left: auto;
    margin-right: auto;

}

h3 {
    position: relative;
    right: 00px;
    top: 40px;
}

h1 {
    font-family: 'Coda Caption', sans-serif;
    color: #4169e1;
    text-align: center;
    border: 10px black;


}

.navigation {
    position: relative;
    right: 65px;
    top: -70px;
    text-align: center;
    width: 1320px;
    border: 5px solid #1D71EA;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    float: left;
}

buy {
    position: relative;
    right: 65px;
    top: -70px;
    text-align: center;
    width: 1320px;
    border: 5px solid #1D71EA;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    float: left;
}

button {
    width: 80px;
    padding: 2px;
    margin: 1px;
}

.bop {
    position: relative;
    left: -200px;
    top: -650px;


}

img {
    width: 525px;
    height: 320px;
    margin: -5px;
}

h3 {
    color: blue;
    font-style: italic;
}

.clop {
    padding: 100px;
}


.dot {
    text-align: center;
    height: 100px;
    width: 50%;
    height: 1900px;
    margin: 100px;
    margin-right: auto;
}

.bop {
    position: relative;
    left: -200px;
    top: -422px;


}

.text1 {
    position: relative;
    right: -600px;
    top: 97px;
    text-align: center;
    height: 0px;
    color: black;
    width: 40%;
    padding: 0px;
    height: 322px;
    border: 1px inset #4169e1;
    margin: 1px;
    background-color: #FAFDFF;


}

.text2 {
    position: relative;
    right: -0px;
    top: 410px;
    text-align: center;
    height: 0px;
    color: black;
    width: 100%;
    padding: 0px;
    height: 322px;
    border: 1px inset #4169e1;
    margin: 1px;
    background-color: #FAFDFF;
}

.text3 {
    position: relative;
    right: 0px;
    top: 599px;
    text-align: center;
    height: 0px;
    color: black;
    width: 100%;
    padding: 0px;
    height: 322px;
    border: 1px inset #4169e1;
    margin: 1px;
    background-color: #FAFDFF;
}

.text4 {
    position: relative;
    right: 000px;
    top: 405px;
    text-align: center;
    height: 0px;
    color: black;
    width: 100%;
    padding: 0px;
    height: 322px;
    border: 1px inset #4169e1;
    margin: 1px;
    background-color: #FAFDFF;


}

.text5 {
    position: relative;
    right: 00px;
    top: 591px;
    text-align: center;
    height: 0px;
    color: black;
    width: 100%;
    padding: 0px;
    height: 322px;
    border: 1px inset #4169e1;
    margin: 1px;
    background-color: #FAFDFF;



}

.button1 {
    width: 100px;
    height: 50px;
    padding: 2px;
    margin: 1px;
    position: relative;
    right: -160px;
    top: -1580px;
}

.button2 {
    width: 100px;
    height: 50px;
    padding: 2px;
    margin: 1px;
    position: relative;
    right: -50px;
    top: -1060px;
}

.button3 {
    width: 100px;
    height: 50px;
    padding: 2px;
    margin: 1px;
    position: relative;
    right: 51px;
    top: -560px;
}

.button4 {
    width: 100px;
    height: 50px;
    padding: 2px;
    margin: 1px;
    position: relative;
    right: 150px;
    top: -30px;
}

.button5 {
    width: 100px;
    height: 50px;
    padding: 2px;
    margin: 1px;
    position: relative;
    right: -20px;
    top: 430px;
}

p {
    font-family: 'Raleway', sans-serif;
}